[submodule "sitmun-admin-app"]
	path = front/admin/sitmun-admin-app
	url = https://github.com/sitmun/sitmun-admin-app.git
	branch = Updates
[submodule "sitmun-viewer-app"]
	path = front/viewer/sitmun-viewer-app
	url = https://github.com/sitmun/sitmun-viewer-app.git
	branch = feature-8
[submodule "sitmun-backend-core"]
	path = back/backend/sitmun-backend-core
	url = https://github.com/sitmun/sitmun-backend-core.git
	branch = app-stack-feature-4
[submodule "sitmun-proxy-middleware"]
	path = back/proxy/sitmun-proxy-middleware
	url = https://github.com/sitmun/sitmun-proxy-middleware.git
	branch = main
