# ===================================================================
# SITMUN specific properties
# ===================================================================

sitmun:
  module: SITMUN Core
  version: 3.0-SNAPSHOT
  proxy:
    config-response-validity-in-seconds: 3600
  dashboard:
    fetchMetrics: 60000
    initialDelay: 60000
    cartographies-by-created-date.size: 30 #last days
    users-by-created-date.size: 30 # last days
    users-per-application.size: 30 # last days

# ===================================================================
# Logging
# ===================================================================

logging:
  level:
    ROOT: INFO
    org.sitmun.plugin.core: INFO
    liquibase: INFO
java:
  util:
    logging:
      manager: org.apache.logging.log4j.jul.LogManager
log4j2:
  disable:
    jmx: true
liquibase:
  sql:
    logLevel: INFO

# ===================================================================
# Management
# ===================================================================

management:
  metrics:
    enable:
      all: false
      sitmun: true
  endpoints:
    web:
      base-path: /api/dashboard
      exposure:
        include: "health,info"
  health:
    ldap:
      enabled: false

# ===================================================================
# Spring Boot
# ===================================================================

spring:
  application:
    name: SITMUN
  jmx:
    enabled: false
  data:
    jpa:
      repositories:
        bootstrap-mode: deferred
    rest:
      default-page-size: 100000
      max-page-size: 100000
  jackson:
    serialization:
      indent-output: true
      fail_on_empty_beans: false
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    hikari:
      poolName: Hikari
      auto-commit: false
  h2:
    console:
      enabled: false
  jpa:
    show-sql: false
    hibernate:
      use-new-id-generator-mappings: true
      ddl-auto: none
      naming:
        physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    properties:
      hibernate.jdbc.time_zone: UTC
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: false
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate.jdbc.batch_size: 25
      hibernate.order_inserts: true
      hibernate.order_updates: true
      hibernate.jdbc.fetch_size: 150
      hibernate.criteria.literal_handling_mode: BIND
      hibernate.query.fail_on_pagination_over_collection_fetch: true
      hibernate.query.in_clause_parameter_padding: true
      javax.persistence.validation.mode: none
  liquibase:
    change-log: file:/usr/src/config/liquibase/master.xml
    contexts: dev
  main:
    allow-bean-definition-overriding: true
  task:
    execution:
      thread-name-prefix: sample-task-
      pool:
        core-size: 2
        max-size: 50
        queue-capacity: 10000
    scheduling:
      thread-name-prefix: sample-scheduling-
      pool:
        size: 2

# ===================================================================
# Security
# ===================================================================

security:
  authentication:
    jwt:
      secret: 9ef80c644166846897f6a87d3cf6ab204d144229
      token-validity-in-miliseconds: 36000000
    ldap:
      host: ldap://localhost:1389
      base_dn: dc=example,dc=com
      user_dn_pattern: uid={0}
      user_ldap: cn=admin
      password_ldap: admin

# ===================================================================
# Server
# ===================================================================

server:
  port: 8080
  forward-headers-strategy: framework
  servlet:
    session:
      cookie:
        http-only: true
