import { LogLevel } from '@app/services/log-level.enum';

export const environment = {
  production: true,
  apiBaseURL: '${PUBLIC_BASE_PATH}backend',
  logLevel: LogLevel.Error,
  version: '${APP_VERSION}',
  buildTimestamp: '${BUILD_TIMESTAMP}' as string | undefined,
  environmentName: '${FRONT_ENV}'
};
