export const environment = {
  production: true,
  hashLocationStrategy: true,
  hideBackgroundImage: false,
  hideDNIEAccess: true,
  apiUrl: '${PUBLIC_BASE_PATH}backend',
  version: '${APP_VERSION}',
  environmentName: '${FRONT_ENV}',
  sitnaVersion: '4.8.0',
  buildTimestamp: '${BUILD_TIMESTAMP}' as string | undefined,
  loginBackgroundImageUrl: '/assets/logos/barcelona_background.jpg'
};
