<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>SitmunViewerApp</title>
    <base href="${PUBLIC_BASE_PATH}viewer">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <script>
      window.SITNA_BASE_URL = '${PUBLIC_BASE_PATH}viewer/assets/js/api-sitna/';
    </script>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {

          navigator.serviceWorker.getRegistration().then(function(reg) {
            if (reg.active && !navigator.serviceWorker.controller) {
              window.location.reload();
            }
          });

          navigator.serviceWorker.register('ServiceWorker.js', { scope: '${PUBLIC_BASE_PATH}viewer/'})
            .then(() => {
              console.log("Service worker registered");
            })
            .catch((error) => {
              console.error("Service worker registration failed:", error);
            })
        });
      } else {
        console.log("Service worker not supported");
      }
    </script>
    <script>
      window.onload = function() {
        let script = document.createElement('script');
        script.src = "${PUBLIC_BASE_PATH}viewer/assets/js/patch/patch_main.js";
        document.head.appendChild(script)
      }
    </script>
    <link rel="stylesheet" href="${PUBLIC_BASE_PATH}viewer/assets/js/toastr/toastr.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src=" ${PUBLIC_BASE_PATH}viewer/assets/js/toastr/toastr.min.js"></script>
  </head>
  <body>
    <sitmun-viewer-app-root></sitmun-viewer-app-root>
  </body>
</html>
